{% extends 'layout.html' %}
{% load static %}

{% block content %}


<div class="row p-1 bg-dark d-flex align-items-start" style="min-height: 70vh;">
    <div> 
        <h5 class='lead text-center text-light p-2 text-ipsum'>Shopping cart</h5>
        {% if cart_items %}
            {% for item in cart_items %}


            <div class="card bg-primary text-light m-0 mt-3 shadow">
                <img src="{{item.item.img_url}}"style="max-height: 10vh; object-fit: cover;" class="card-img-top bg-dark" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'item_detail' item.item.id %}" class="text-decoration-none text-ipsum">
                            <strong>{{item.item.name}}</strong>
                        </a>
                    </h5>
                    <p class="card-text">{{item.item.sentence}}</p>
                </div>
                <div class="card-footer text-ipsum">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">price: {{item.item.price}} x {{item.quantity}}</div>
                            <div class="col ms-auto" style="max-width: fit-content;"><a href="{% url 'delete_cart_item' item_id=item.id %}" onClick="return window.confirm('точно хочешь удалить?');" class="text-muted">remove item</a></div>
                        </div>
                    </div>
                  </div>
              </div>
            
            {% endfor %}

            <div class="d-flex w-100 justify-content-end p-4 m-2">
                <div class="lead text-light">total price: <strong> <span id="total_cost" style="font-size: 20pt;">{{total_cost}}</span></strong> rub</div>
            </div>
        {% else %} 
            <div class="d-flex align-items-center" style="height: 70vh;">
                <div class="w-100">
                    <a href="{% url 'store' %}" class="text-decoration-none">
                        <div>
                            <h4 class="text-center text-ipsum lead">No items in the shopping cart yet</h4>
                            <h2 class="text-center text-white">Go shopping</h2>
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}