{% extends 'layout.html' %}

{% block content %}

<br>
<div style="margin-top: 200px"></div> <!-- just to move all the block lower -->
<!--links to the login/register/logout pages-->
<h2><a href="/login">login</a></h2>
<h2><a href="/register">register</a></h2>
<h2><a href="/logout">logout</a></h2>
<br>

<!--"login indicator"-->
{% if request.user.is_authenticated %} <!-- checking if user is logged in -->
 <div class="bg-primary border rounded p-1" style="margin-top: 200px">
    <h6 class=" text-white text-center mt-1">logged in as {{request.user.username}}</h6>
</div>
{% else %} <!-- in other case: -->
<div class="bg-warning border rounded p-1" style="margin-top: 200px">
     <h6 class=" text-white text-center mt-1">not logged in</h6>
</div>
{% endif %}

<br>
<h6 class="text-center lead text-dark">
    <a href="https://github.com/neongm/django-login-example">Django Login Example</a> done by <a href="https://github.com/neongm"> neongm </a>
</h6>
{% endblock  %}