{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background: rgb(33, 37, 41);">

<div class="bg-bg-img" style="
    z-index: -9999;">
    <div style="position: absolute; right: 0px; z-index: -9999;">
        <h3 style="color:#FFA088">Lorem Ipsum <span style="color:#CAD8DE">Lorem Ipsum</span> Lorem</h3>
        <h3 style="color:#FFA088">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA088ff">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA088">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA088DD">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA088CC">Lorem Ipsum Lorem Ipsum <span style="color:#CAD8DE">Lorem</span></h3>
        <h3 style="color:#FFA088BB">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA088AA">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA08890">Ipsum <span style="color:#CAD8DE90">Lorem Ipsum</span> Lorem Ipsum</h3>
        <h3 style="color:#FFA08880">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA08870">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA08860">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA08850">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA08840"><span style="color:#CAD8DE40">Lorem Ipsum</span> Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA08830">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA08820">Lorem Ipsum Lorem <span style="color:#CAD8DE20">Lorem Ipsum</span></h3>
        <h3 style="color:#FFA08810">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA08805">Ipsum Lorem Ipsum Lorem Ipsum</h3>
    </div>
    <div style="position: absolute; left: 0px; z-index: -9999;">
        <h3 style="color:#FFA088">Lorem Ipsum <span style="color:#CAD8DE">Lorem Ipsum</span> Lorem</h3>
        <h3 style="color:#FFA088">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA088ff"><span style="color:#CAD8DE">Lorem Ipsum</span> Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA088">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA088DD">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA088CC">Lorem Ipsum Lorem Ipsum <span style="color:#CAD8DE">Lorem</span></h3>
        <h3 style="color:#FFA088BB">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA088AA">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA08890">Ipsum <span style="color:#CAD8DE90">Lorem Ipsum</span> Lorem Ipsum</h3>
        <h3 style="color:#FFA08880">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA08870">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA08860">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA08850">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA08840"><span style="color:#CAD8DE40">Lorem Ipsum</span> Lorem Ipsum Lorem</h3>
        <h3 style="color:#FFA08830">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA08820">Lorem Ipsum Lorem <span style="color:#CAD8DE20">Lorem Ipsum</span></h3>
        <h3 style="color:#FFA08810">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#FFA08805">Ipsum Lorem Ipsum Lorem Ipsum</h3>
    </div>

</div>


<!-- main content  -->
<div class="main-cont container-lg at-least-fullscreen bg-primary" style=" box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.39);">
    {% include 'header.html' %}
    {% block content %}

    {% endblock %}
</div>

</body>
</html>