{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: rgb(33, 37, 41);">

<div class="bg-bg-img" style="
    z-index: -9999;">
    <div style="position: absolute; right: 0px; z-index: -9999;">
        <h3 style="color:#CAD8DE">Lorem Ipsum <span style="color:#CAD8DE">Lorem Ipsum</span> Lorem</h3>
        <h3 style="color:#CAD8DE">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DEff">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DE">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DEDD">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DECC">Lorem Ipsum Lorem Ipsum <span style="color:#CAD8DE">Lorem</span></h3>
        <h3 style="color:#CAD8DEBB">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DEAA">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DE90">Ipsum <span style="color:#CAD8DE90">Lorem Ipsum</span> Lorem Ipsum</h3>
        <h3 style="color:#CAD8DE80">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DE70">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DE60">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DE50">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DE40"><span style="color:#CAD8DE40">Lorem Ipsum</span> Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DE30">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DE20">Lorem Ipsum Lorem <span style="color:#CAD8DE20">Lorem Ipsum</span></h3>
        <h3 style="color:#CAD8DE10">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DE05">Ipsum Lorem Ipsum Lorem Ipsum</h3>
    </div>
    <div style="position: absolute; left: 0px; z-index: -9999;">
        <h3 style="color:#CAD8DE">Lorem Ipsum <span style="color:#CAD8DE">Lorem Ipsum</span> Lorem</h3>
        <h3 style="color:#CAD8DE">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DEff"><span style="color:#CAD8DE">Lorem Ipsum</span> Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DE">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DEDD">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DECC">Lorem Ipsum Lorem Ipsum <span style="color:#CAD8DE">Lorem</span></h3>
        <h3 style="color:#CAD8DEBB">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DEAA">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DE90">Ipsum <span style="color:#CAD8DE90">Lorem Ipsum</span> Lorem Ipsum</h3>
        <h3 style="color:#CAD8DE80">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DE70">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DE60">Lorem Ipsum Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DE50">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DE40"><span style="color:#CAD8DE40">Lorem Ipsum</span> Lorem Ipsum Lorem</h3>
        <h3 style="color:#CAD8DE30">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DE20">Lorem Ipsum Lorem <span style="color:#CAD8DE20">Lorem Ipsum</span></h3>
        <h3 style="color:#CAD8DE10">Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h3 style="color:#CAD8DE05">Ipsum Lorem Ipsum Lorem Ipsum</h3>
    </div>

</div>


<!-- main content  -->
<div class="main-cont container-lg at-least-fullscreen bg-primary" style=" box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.39);">
    {% include 'header.html' %}
    {% block content %}

    {% endblock %}

    <div class="text-center text-muted p-3">
        © 2021 Copyright:
        <a class="text-muted" href="https://github.com/neongm">@neongm</a>
    </div>
</div>


<script src="{% static 'js/bootstrap.bundle.js' %}"></script>

</body>
</html>